---
const data = [
    {
        heading: "Fresources",
        subheading: "Interface Designing I User Research",
        image: "/images/archive/fresources.png",
        link: "https://fresources.tech",
    },
    {
        heading: "Rebranding Khadi India",
        subheading: "Rebranding I Packaging Design",
        image: "/images/archive/khadiindia.png",
        link: "https://www.behance.net/gallery/162562355/Rebranding-Khadi-India",
    },
    {
        heading: "Branding Eilish Herbals",
        subheading: "UX Research I Interface Design",
        image: "/images/projects/eilish.png",
        link: "https://www.behance.net/gallery/157498345/Herbal-Skincare-Product-Packaging",
    },
    {
        heading: "UX Laws Application",
        subheading: "21 Laws of UX I Research ",
        image: "/images/archive/lawsofux.png",
        link: "https://drive.google.com/file/d/1dwIaYRdLMo-BW6_pqtdJ8RzvI8thThXl/view?usp=sharing",
    },
    {
        heading: "Lamp Designing",
        subheading: "Product Design I Prototyping",
        image: "/images/archive/floret.png",
        link: "https://drive.google.com/file/d/1XG0EYVx8g7vQY_nrNZ-0OgY0yLbpu5CB/view?usp=sharing",
    },
    {
        heading: "Brand Analysis",
        subheading: "UX Research I Brand Identity",
        image: "/images/archive/theobroma.png",
        link: "https://drive.google.com/file/d/1ec5vxhSoEOgLVCHd8NQmOuryYaBR8g17/view?usp=sharing",
    },
    {
        heading: "Visual Design",
        subheading: "Graphic Design I Print Media",
        image: "/images/archive/visualdesign.png",
        link: "https://drive.google.com/file/d/1Qi1ZolrnJFRFFnn5UfGoH-63QUkn1RD6/view?usp=sharing",
    },
    {
        heading: "Watch Design",
        subheading: "Problem Solving I User Experience",
        image: "/images/archive/watchdesign.png",
        link: "https://drive.google.com/file/d/1vBAz3KWxMiQGwW6aN5m98Sue0O5uIPz8/view?usp=sharing",
    },
    {
        heading: "3D Shoe Modelling",
        subheading: "Prototyping I 3D Modelling",
        image: "/images/archive/3dshoes.png",
        link: "https://www.behance.net/gallery/144866571/3D-Modelling-Converse-High-Tops",
    },
];
---

<section
    class="px-5 sm:w-4/5 sm:px-0 max-w-[1400px] mx-auto items-center min-h-screen mt-16 sm:mt-28"
>
    <h1 class="text-white mb-8 sm:mb-16">Archive</h1>
    <div class="w-full grid grid-cols-2 gap-5 sm:gap-24">
        {
            data.map((item) => (
                <div class="flex flex-col gap-5 w-full">
                    <h2 class="text-white font-voyage text-2xl sm:text-4xl truncate">
                        {item.heading}
                    </h2>
                    <a
                        href={item.link}
                        class="w-full aspect-video rounded-lg"
                        target="_blank"
                    >
                        <img
                            src={item.image}
                            class="object-cover aspect-video w-full rounded-lg hover:scale-105 transition-all cursor-pointer duration-300"
                        />
                    </a>
                    <h4 class="text-gray font-mont text-md sm:text-2xl 2xl:text-3xl">
                        {item.subheading}
                    </h4>
                </div>
            ))
        }
    </div>
</section>
