---
import Puzzle from "./Puzzle.astro";
---

<Puzzle />
<section
    class="flex justify-between min-h-screen w-4/5 max-w-[1400px] mx-auto items-center"
>
    <div
        class="font-mont w-1/2 flex flex-col gap-2 transition-all duration-300"
        id="before_pink"
    >
        <h1 class="text-white">
            Hello! <span class="text-pink">I'm Urvi</span>
        </h1>
        <h2 class="text-pink text-2xl 2xl:text-3xl">
            A UI/UX Researcher & Visual Designer
        </h2>
        <p class="text-white text-lg 2xl:text-xl">
            I'm an undergraduate student at Delhi Technological University,
            exploring the intriguing world of Experience Design to create
            experiences that engage and excite. I’m inclined towards research
            and my end goal is to design services that create impact.
        </p>
        <button
            class="bg-pink py-4 w-full text-white font-bold text-lg 2xl:text-xl rounded-lg mt-7 hover:bg-pink-light transition-all"
            >Let's Work Together</button
        >
    </div>
    <div
        class="w-2/3 font-voyage text-2xl hidden transition-all duration-300 text-white relative z-30 mt-16"
        id="after_pink"
    >
        Let's Make Things Work Together
    </div>
    <img
        src="/images/urvi.png"
        alt="profile-img"
        class="w-1/3 pink_on_hover relative z-30 transition-all duration-300 hover:scale-110"
        id="display_picture"
    />

    <script>
        const display_picture = document.getElementById("display_picture");
        display_picture.addEventListener("mouseover", () => {
            console.log("asddsa");
            document.body.classList.add("bg-pink");
            document.getElementById("puzzle").classList.add("together");
            document.getElementById("before_pink").classList.add("hidden");
            document.getElementById("after_pink").classList.remove("hidden");
        });
        display_picture.addEventListener("mouseout", () => {
            document.body.classList.remove("bg-pink");
            document.getElementById("puzzle").classList.remove("together");
            document.getElementById("before_pink").classList.remove("hidden");
            document.getElementById("after_pink").classList.add("hidden");
        });
    </script>
</section>

<style>
    #after_pink {
        @apply text-8xl transition-all duration-300;
    }
</style>
