<div class="w-full text-center mt-28 flex flex-col gap-7">
    <h2 class="text-pink font-voyage text-5xl mx-auto">
        Thank You for Visiting
    </h2>
    <h3 class="font-mont text-white text-2xl font-light">Connect with me on</h3>
    <div class="flex gap-8 mx-auto">
        <a href="/">
            <img src="/images/socials/behance.png" alt="behance" class="h-5" />
        </a>
        <a href="/">
            <img src="/images/socials/mail.png" alt="mail" class="h-5" />
        </a>
        <a href="/">
            <img
                src="/images/socials/linkedin.png"
                alt="linkedin"
                class="h-5"
            />
        </a>
    </div>
</div>
