---
export interface Props {
    theme: String;
}
const { theme } = Astro.props;
---

<nav
    class="flex justify-between items-center w-4/5 max-w-[1400px] mx-auto absolute top-10 left-1/2 -translate-x-1/2"
>
    <a class="font-voyage text-5xl">
        <span class="text-pink"> Urvi</span>
        <span class="text-white"> Suhane</span>
    </a>
    <div class="text-pink font-mont flex gap-10 font-bold text-xl">
        <a href="/">WORK</a>
        <a href="/">RESUME</a>
        <a href="/">CONTACT ME</a>
    </div>
</nav>
