<nav
    class="justify-between items-end w-4/5 max-w-[1400px] mx-auto absolute top-10 left-1/2 -translate-x-1/2 z-[60] hidden md:flex"
>
    <a class="font-voyage text-xl md:text-4xl 2xl:text-5xl" href="/">
        <span class="text-pink puzzle-together"> Urvi</span>
        <span class="text-white"> Suhane</span>
    </a>
    <div
        class="text-pink font-mont flex gap-10 font-medium md:font-bold text-md 2xl:text-xl puzzle-together"
    >
        <a href="#work" class="hidden md:block">WORK</a>
        <a
            href="https://drive.google.com/file/d/1lVynfKe73jpEZ1xiTLBvmVXQPLMy7xJZ/view?usp=sharing"
            class="underline md:no-underline"
            target="_blank">RESUME</a
        >
        <a href="#contact" class="hidden md:block">CONTACT ME</a>
    </div>
</nav>

<style>
    body.bg-pink .puzzle-together {
        @apply text-[#0c0f1b] transition-all duration-300;
    }
</style>
