---
const data = [
    {
        heading: "Annapurna - The Food Donation App",
        subheading: "UX Research I Interface Design",
        description:
            "Annapurna is a food donation app that connects people who want to donate food with people who need food. It is a platform for people to donate food to the needy and also to help the needy to find food. It is a platform for people to donate food to the needy and also to help the needy to find food.",
        image: "/images/projects/annapurna.png",
    },
    {
        heading: "Recasting Fabindia",
        subheading: "UX Research I Interface Design",
        description:
            "The online presence of every brand now plays a significant role to make it stand out in the market. Even though Fabindia already has its app, it has many flaws that we tried to solve to make the app grow much bigger than before.",
        image: "/images/projects/eilish.png",
    },
    {
        heading: "Branding Eilish Herbals",
        subheading: "UX Research I Interface Design",
        description:
            "Branding Eilish Herbals, a Cosmetic Brand launched in 2022 to give it a fresh yet strong identity, as a Freelance Project.",
        image: "/images/projects/fabindia.png",
    },
];
---

<section class="w-4/5 max-w-[1400px] mx-auto items-center min-h-screen">
    <h1 class="text-white mb-28">Featured Projects</h1>
    <div class="flex flex-col gap-32">
        {
            data.map((project, idx) => {
                return (
                    <div
                        class={`flex justify-between items-center ${
                            idx % 2 === 1
                                ? "flex-row-reverse text-right"
                                : "flex-row"
                        }`}
                    >
                        <a href="/" class="w-5/12 aspect-video rounded-lg">
                            <img
                                src={project.image}
                                class="object-cover h-full w-full rounded-lg hover:scale-105 transition-all cursor-pointer duration-300"
                            />
                        </a>
                        <div class="font-mont w-6/12 flex flex-col gap-2">
                            <h2 class="font-voyage text-6xl text-pink">
                                {project.heading}
                            </h2>
                            <h4 class="text-2xl text-gray">
                                {project.subheading}
                            </h4>
                            <p class="text-white text-xl">
                                {project.description}
                            </p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>
