<div
    class="h-screen w-full top-0 left-0 absolute overflow-hidden pointer-events-none"
>
    <div class="relative mt-44 scale-90 transform duration-300" id="puzzle">
        <img
            src="/images/puzzle/tl.png"
            class="absolute transition-all duration-300 z-20"
            id="tl"
        />
        <img
            src="/images/puzzle/tr.png"
            class="absolute transition-all duration-300 z-20"
            id="tr"
        />
        <img
            src="/images/puzzle/bl.png"
            class="absolute transition-all duration-300 z-20"
            id="bl"
        />
        <img
            src="/images/puzzle/br.png"
            class="absolute transition-all duration-300 z-20"
            id="br"
        />
    </div>
</div>

<style>
    #tl {
        @apply -left-[300px] top-[500px] rotate-12;
    }
    #tr {
        @apply left-[55%] -top-[100px] rotate-45 scale-90;
    }
    #bl {
        @apply -top-[400px] 2xl:-top-[300px] -left-[100px] rotate-12 scale-90;
    }
    #br {
        @apply left-[90%] top-[500px] rotate-45 scale-75;
    }

    .together #tl {
        @apply top-0 left-0 rotate-0 scale-100;
    }
    .together #tr {
        @apply top-0 left-[260px] rotate-0 scale-100;
    }
    .together #bl {
        @apply top-[190px] left-[60px] rotate-0 scale-100;
    }
    .together #br {
        @apply top-[290px] left-[350px] rotate-0 scale-100;
    }
</style>
